{% extends 'base.html' %}

{% block title %}Search Results{% endblock title %}

{% block content %}
<h1>Search Results</h1>
  {% for word in word_list %}
    <div class="card">
      <div class="card-header">
        <span class="font-weight-bold"><a href="{{ word.get_absolute_url }}">{{ word.english }}</a></span> &middot;
        <span class="text-muted">by {{ word.author }}</span>
      </div>
      <div class="card-body">
        <p>{{ word.english }}'s Turkish pronunciation is | {{ word.turkish }}</p>
      </div>
    </div>
    <br />
  {% endfor %}

  {% if is_paginated %}
    {% if page_obj.has_previous %}
      <a class="btn btn-outline-info mb-4" href="?page=1&q={{ query }}">First</a>
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}&q={{ query }}">Previous</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <a class="btn btn-info mb-4" href="?page={{ num }}&q={{ query }}">{{ num }}</a>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a class="btn btn-outline-info mb-4" href="?page={{ num }}&q={{ query }}">{{ num }}</a>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <a class="btn btn-info mb-4" href="?page={{ page_obj.next_page_number }}&q={{ query }}">Next</a>
      <a class="btn btn-info mb-4" href="?page={{ page_obj.paginator.num_pages }}&q={{ query }}">Last</a>
    {% endif %}
  {% endif %}
{% endblock content %}
