{% extends 'base.html' %}

{% block title %}{{ word.english }}'s Pronunciation{% endblock title %}

{% block content %}
<div class="card">
  <div class="card-header">
    <span class="font-weight-bold">{{ word.english }}</span> &middot;
    <span class="text-muted">by <a href="{% url 'user-words' word.author.username %}">{{ word.author }}</a></span> &middot;
    <span class="text-muted">Created at: {{ word.date_created|date:"d M, Y" }}</span> &middot;
    <span class="text-muted">Updated at: {{ word.date_updated|date:"d M, Y" }}</span> &middot;
  </div>
  <div class="card-body">
    <p>{{ word.english }}'s Turkish pronunciation is | {{ word.turkish }}</p>
  </div>
</div>

{% if word.author == user %}
  <p><a href="{% url 'word-update' word.pk %}">Edit Word</a> | <a href="{% url 'word-delete' word.pk %}">Delete Word</a></p>
  <p>Back to <a href="{% url 'home' %}">All Words</a></p>
{% elif word.author != user and user.is_authenticated %}
  <p><h5>Since you are not the author of the word, you can't delete or edit it.</h5></p>
  <p><a href="{% url 'logout' %}">Logout</a></p>
{% else %}
  <p><h5>You need to log in for updating and deleting the words. Only the author of the word can edit & delete.</h5></p>
  <p><a href="{% url 'login' %}">Login</a></p>
{% endif %}
{% endblock content %}
